extends layouts/default
block content
  - var action = '/' + path
  - action += doc.isNew ? '' : '/' + doc._id
  - var method = doc.isNew ? 'post' : "put"
  - var id = doc.isNew ? '' : doc._id
  h2= ( (id) ? "Edit " : "New " ) + ( (meta.name) ? meta.name : meta.model )

  #form
    form.form-horizontal(method=method, action=action, role="form")
      //input(type="hidden", name="_csrf", value="#{csrf_token}")
      //input(type="hidden", name="_doc_id", value=id)
  
      each f in edit
        .form-group
          - var type = field[f].widget || 'text'
          - var header = field[f].header
          label.col-sm-2.control-label(for=f)= header + ':'
          .col-sm-10
            if type == 'sel' || type == 'ref'
              - var sel = ((doc.isNew) ? doc[f] : doc[f][field[f].display] || doc[f])
              select.form-control(id=f, name=path+'['+f+']', placeholder='Enter '+header)
                each v in field[f].values
                  if v == sel
                    option(value=v, selected)= v
                  else
                    option(value=v)= v
            else
              input.form-control(id=f, type=type, name=f, value=doc[f], placeholder='Enter '+header)
        
      .form-group 
        .col-sm-2
        .col-sm-10
          #form-btn
            button.btn.btn-primary(type='submit') Save changes
            &nbsp;
            a.btn(href='#{base}/#{path}', title="cancel") Cancel
  
  if !doc.isNew
    #del-btn(style="padding-right: 15px")
      form(action=action method="delete")
        button.btn.btn-danger(type='submit') Delete
          